@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@media screen and (max-width: 1440px) {
    .home{
        margin-top: 186px;
    }
}
@media screen and (max-width: 830px) {
    .home{
        margin-top: 270px;
    }
    .home-img img{
        margin-bottom: 250px;
    }
    .header{
        width: 101%;
    }
}
@media screen and (max-width: 721px) {
    .header{
        width: 102%;
    }
}
@media screen and (max-width: 617px) {
    .header{
        width: 103%;
    }
}
@media screen and (max-width: 520px) {
    .header{
        width: 104%;
    }
}
@media screen and (max-width: 408px) {
    .header{
        width: 105%;
    }
}
